@import url('../../app/assets/styles/variables.css');

.product-page__back {
    color: var(--blue-color);
    font-weight: var(--bold-text-weight);
    line-height: 20px;
    cursor: pointer;
    font-size: var(--middle-font-size);
    width: 50px;
    margin-bottom: -10px;
}

.product-page__back-img {
    margin-bottom: -3px;
    margin-right: 10px;
}

.product-page {
    padding: 20px 50px 0 50px;
}
.product-page__container {
    width: 792px;
    display: block;

    margin: -19px auto 20px auto;
}

.product-page__main {
    background-color: var(--base-block-color);
    height: auto;
    width: 100%;
    border-radius: 16px;
    padding: 30px 0 10px 50px;
    display: inline-table;
}

.product-page__picture {
    width: 374px;
    height: 374px;
    margin-left: -20px;
}

.product-page__information {
    float: right;
    width: 346px;
    margin-right: 30px;
}

.product-page__rating,
.product-page__price {
    margin-top: 10px;
}

.product-page__add-to-cart-btn {
    margin-top: 40px;
}

.product-page__description {
    width: 100%;
    display: inline-table;
    height: auto;
    background-color: var(--base-block-color);
    margin-top: 50px;
    border-radius: 16px;
    padding: 23px;
}

.product-page__description-text {
    font-weight: var(--base-text-weight);
    line-height: 20px;
    font-size: var(--base-font-size);
    margin-top: 10px;
}

.product-page__return-condition {
    margin-top: 20px;
}

.product-page__return-condition-img {
    margin-right: 10px;
    margin-bottom: -4px;
}

.product-page__return-condition-text {
    font-weight: var(--base-text-weight);
    line-height: 20px;
}

.product-page__prices-may-vary {
    color: var(--light-text-color);
    font-size: var(--so-small-font-size);
    line-height: 16px;
    margin-top: 10px;
    padding-bottom: 60px;
}
.product-page__checkout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

@media screen and (max-width: 992px) {
    .product-page__information {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .product-page__picture {
        width: 100%;
    }
    .product-page {
        padding: 5px;
    }
    .product-page__main {
        width: 100%;
        padding: 20px;
    }
    .product-page__description {
        width: 100%;
        padding: 10px;
    }
    .product-page__container {
        width: 100%;
        margin-top: 10px;
    }
}
