.button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 156px;
    height: 52px;
    text-align: center;
    background-color:  #E6F1FC;
    padding: 16px;
    border-radius: 12px;
}

.button__plus,
.button__minus {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}