@import url('../../app/assets/styles/variables.css');

.order {
    display: grid;
    padding: 24px;
    border-radius: 16px;
    width: 1280px;
    height: 96px;
    background-color: var(--base-block-color);
    grid-template-columns: repeat(4, auto);
    margin-bottom: 20px;
    margin-left: auto;
    grid-template-areas: 'a b c d';
}
.order__header {
    grid-area: a;
}
.order__pictures {
    height: 48px;
    width: 48px;
}
.order__product {
    height: 48px;
    width: 48px;
    display: block;
}
.order__content,
.order__product {
    display: inline;
    margin-left: 10px;
}
.order__content {
    grid-area: b;
}
.order__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-area: d;
}
