@import url('../../../app/assets/styles/variables.css');

.active {
    color: var(--blue-color);
    border-bottom: 3px solid var(--blue-color);
    font-weight: var(--bold-text-weight);
}

.element {
    font-weight: var(--bold-text-weight);
    transition: var(--base-transition-duration) ease-in-out;
}
.element:hover {
    color: var(--blue-color);
}
