.header {
    height: 48px;
    display: block;
    border-bottom: 1px solid #e6f1fc;
    padding: 15px 50px 0 50px;
}

.header__list-pages {
    text-align: center;
    margin-top: -27px;
    margin-left: -30px;
}

.header__list-item {
    display: inline;
    margin-right: 20px;
}

.header__cart {
    float: right;
    margin-top: -22px;
}

.header__cart-img {
    margin-left: -80px;
    position: absolute;
}

.header__cart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.header__burger {
    display: none;
}
@media screen and (max-width: 992px) {
    .header__list-pages {
        display: none;
    }
    .header {
        padding: 10px;
    }
}
