.products_list li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 40px;
}

.products_list {
  width: 1600px;
  margin: auto;
}
.container {
  width: 100%;
  margin-left: 50px;
}
.pagination {
  width: 100%;
  display: flex;

  justify-content: center;
}
@media screen and (max-width: 1320px) {
  .products_list {
    width: 1000px;
  }
}
@media screen and (max-width: 992px) {
  .products_list {
    width: 550px;
  }
}
