.home {
  margin-right: -80px;
}

.home__products {
  width: 1600px;
  margin: auto;
}

.home__products_item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 40px;
}

.home__pagination {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1320px) {
  .home__products {
    width: 1000px;
  }
}

@media screen and (max-width: 992px) {
  .home__products {
    width: 550px;
  }
}
