.home__products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
}

.home__pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 1320px) {
  .home__products {
    width: 1000px;
  }
}

@media screen and (max-width: 992px) {
  .home__products {
    width: 550px;
  }
}
