@import url('../../../app/assets/styles/variables.css');

.bold-title {
    font-weight: var(--bold-text-weight);
    line-height: 20px;
}

.name-title {
    font-weight: var(--base-text-weight);
    line-height: 20px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: var(--small-font-size);
}
.price-title {
    font-weight: var(--price-text-weight);
    font-size: var(--big-font-size);
    line-height: 32px;
}
.red-title {
    font-weight: var(--bold-text-weight);
    line-height: 20px;
    color: var(--red-text-color);
}
.bigName-title {
    font-size: var(--so-big-font-size);
    font-weight: var(--bold-text-weight);
    line-height: 32px;
    text-align: left;
    word-break: break-all;
}
.bigPrice-title {
    font-size: var(--so-big-font-size);
    font-weight: var(--price-text-weight);
    line-height: 32px;
}

@media screen and (max-width: 992px) {
    .price-title {
        font-size: var(--small-font-size);
    }
    .name-title {
        font-size: 12px;
        height: 20px;
    }
}
