@import url('../../app/assets/styles/variables.css');

.cart-item {
    width: 100%;
    height: 84px;
    border-bottom: 1px solid #e6f1fc;
}
.cart-item__img {
    width: 52px;
    height: 52px;
    margin-top: -10px;
}
.cart-item__img-block {
    width: 52px;
    height: 52px;
    display: block;
}
.cart-item__title {
    font-weight: var(--base-text-weight);
    font-size: var(--base-font-size);
    line-height: 20px;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 60px;
    margin-top: -45px;
    text-overflow: ellipsis;
}

.cart-item__btn {
    width: 156px;
    height: 52px;
    margin-left: 220px;
    margin-top: -35px;
}

.cart-item__price {
    float: right;
    margin-top: -40px;
}
.content {
    padding-top: 20px;
}
.trash_img {
    margin-left: -25px;
    position: absolute;
}
.cart-item__price-per-piece {
    font-size: 12px;
    position: absolute;
    margin-top: -15px;
}
