.amount_block {
    padding: 27px 0 5px 0;
    border-top: 1px solid #e6f1fc;
}
.total {
    margin-bottom: 20px;
}
.price {
    float: right;
    margin-top: -30px;
}
.total_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
