.product {
  width: 250px;
  height: 358px;
  background-color: white;
  border-radius: 20px;
  padding: 0 12px 5px 12px;
  cursor: pointer;
}

.product__img {
  width: 250px;
  height: 250px;
  display: block;
}

.product__price {
  padding-top: 7px;
}

.product__rating {
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .product {
    width: 100px;
    height: 200px;
  }

  .product__img {
    width: 100px;
    height: 100px;
  }
}
