.product {
  width: 250px;
  height: 358px;
  background-color: white;
  border-radius: 20px;
  padding: 0 12px 5px 12px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.product:hover {
  background-color: rgb(217, 217, 217);
}
.img {
  width: 250px;
  height: 250px;
}

.price {
  padding-top: 7px;
}
.rating {
  margin-top: 10px;
}
@media screen and (max-width: 992px) {
  .product {
    width: 100px;
    height: 200px;
  }
  .img {
    width: 100px;
    height: 100px;
  }
}
